.contenedor{
    display:flex;
    justify-content:center;
    align-items: center;
}
.imagen{
    width: 460px;
    height:600px;
}
.txt{
    margin-right: 12pc;
}
.move{
    width: 300px;
    height: 450px;
 
}
.intro{
    display:flex;
    justify-content:center;
    align-items: center;
}
.medio{
    margin-right: 5pc;

}
.mike{
    display:flex;
    justify-content:center;
    align-items: center;
}
.picoro{
    margin-right: 12pc;
}
.yamcha{
    width: 400px;
    height: 550px;
    
}
.cell{
    display:flex;
    justify-content:right;
    align-items:right;
}
.freezer{
    margin-right: 12pc;
}
.majinboo{
    width: 400px;
    height: 550px;

}
.dioses{
    display:flex;
    justify-content:left;
    align-items:left;

}
.angeles{
    margin-right:15pc;

}
.zen{
    width: 350px;
    height: 480px;

}
.fase4{
    display:flex;
    justify-content:left;
    align-items:left;

}

.numero17{
    margin-right:15pc;

}
.bu{
    width: 350px;
    height: 480px;
    

}